@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link href=/static/css/font-awesome.css rel=stylesheet>
    <title>xuxuzhaozhao</title>
    <link href=/static/css/app.fe9244a69c15e33e08f91ddaf2a60e23.css rel=stylesheet>
</head>
<body>
    <div id=app></div>
    <script type=text/javascript src=/static/js/manifest.bd546c8d400ab966e04f.js></script>
    <script type=text/javascript src=/static/js/vendor.f1103b83516ac5abbb40.js></script>
    <script type=text/javascript src=/static/js/app.944d0a013c6ed01958b3.js></script>
</body>
</html>